@model Workflow_management_system.Models.Post

@{
    ViewBag.Title = "PostDetails";
}

<h2>PostDetails</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Broadcast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Broadcast)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
    @Html.ActionLink("Back to List", "Posts")
</p>
