@model IEnumerable<Workflow_management_system.Models.WorkflowType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "CreateWorkflowType")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Requirements)
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Requirements)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WorkflowTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WorkflowTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WorkflowTypeID })
        </td>*@
    </tr>
}

</table>
